



.topnav {
  overflow: hidden;
  background-color: #000;
  display: flex; 
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #18A689;
  color: white;
}
.pos-rel{
  position: relative !important;
  text-align: center;
}
.pos-abs{
  position: absolute;
  top: 16px;
  left: 40px;
  font-size: 1.2rem;
  color: white;
  font-weight: 600;
}

.dropdown {
  float: left;
  overflow: hidden;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown:hover .dropdown-content {
  display: block !important;
  z-index: 100 !important;
}
.dropdown, .dropend, .dropstart, .dropup{
  position: unset !important;
}














/* end nav */


.card-ui{
  box-shadow: 0px 0px 7px -3px black;
  padding: 0.8rem;
  margin: .5rem;
}
.pos-rel{
  position: relative !important;
}
.chitt{
  background: #18A689;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 0.2rem;
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
  position: absolute;
  left: -14px;
  width: 290px;
  top: 7px;
}
.btn-blue{
  border-radius: 25px;
  margin: 0.2rem;
  line-height: 2;
  cursor: pointer !important;
  font-size: 11px;
  font-weight: 500;
  border: none;
  padding: 0.1rem 0.6rem;
  box-shadow: 2px 2px 7px -5px black;
  background-color: #058E9D !important;
  border-radius: 10px !important;
}

.p-count-table{
  font-size: 0.7rem;
  color: #a2a2a2;
}
.btn-red{
  border-radius: 25px;
  margin: 0.2rem;
  line-height: 2;
  cursor: pointer !important;
  font-size: 11px;
  font-weight: 500;
  border: none;
  padding: 0.1rem 0.6rem;
  box-shadow: 2px 2px 7px -5px black;
  background-color: #f44336 !important;
  border-radius: 10px !important;
  color: white !important;
  text-decoration: none !important;
}
.btn-orangee{
  border-radius: 25px;
  margin: 0.2rem;
  line-height: 2;
  cursor: pointer !important;
  font-size: 11px;
  font-weight: 500;
  border: none;
  padding: 0.1rem 0.6rem;
  box-shadow: 2px 2px 7px -5px black;
  background-color: #ff5722 !important;
  border-radius: 10px !important;
  color: white !important;
  text-decoration: none !important;
}
.btn-ui{
  border-radius: 25px;
  margin: 0.2rem;
  line-height: 2;
  cursor: pointer !important;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  padding: 0.3rem 0.6rem;
  box-shadow: 2px 2px 7px -5px black;
  background-color: #058E9D !important;
  border-radius: 10px !important;
}
.btn-ui-sucess{
  border-radius: 25px;
  margin: 0.2rem;
  line-height: 2;
  cursor: pointer !important;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  padding: 0.3rem 0.6rem;
  box-shadow: 2px 2px 7px -5px black;
  background-color: #59B75C !important;
  border-radius: 10px !important;
}
.btn-ui-home{
  min-width: 11%;
  border-radius: 25px;
  margin: 0.2rem;
  line-height: 2;
  cursor: pointer !important;
  font-size: 0.8rem;
  font-weight: 500;
  border: none;
  padding: 0.3rem 0.6rem;
  box-shadow: 2px 2px 7px -5px black;
  background-color: #4a89dc !important;
  border-radius: 50px !important;
}
.btn-ui-search{
  border-radius: 25px;
  margin: 0.2rem;
  line-height: 2;
  cursor: pointer !important;
  font-size: 0.8rem;
  font-weight: 500;
  border: none;
  padding: 0.3rem 0.6rem;
  box-shadow: 2px 2px 7px -5px black;
  border-radius: 10px !important;
  background-color: #e0e6eb!important;
  color: #616c76!important;
}
.btn-ui-2{
  border-radius: 25px;
  line-height: 2;
  cursor: pointer !important;
  font-size: 0.8rem;
  font-weight: 500;
  border: none;
  padding: 0.3rem 0.6rem;
  box-shadow: 2px 2px 7px -5px black;
  background-color: #058E9D !important;
  border-radius: 10px !important;
}
.place-italic::placeholder{
  font-style: italic;
  font-size: 13px;
  color: #7f8c8d;
}
.btn-ui-orange{
  min-width: 11%;
  border-radius: 25px;
  margin: 0.2rem;
  cursor: pointer;
  font-size: .8rem;
  font-weight: 500;
  border: none;
  color: #5b5b5b !important;
  padding: 0.3rem 0.6rem;
  box-shadow: 2px 2px 7px -5px black;
}
.table-btn{
  background: no-repeat;
  color: #4A89DC;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
.table-btn:hover{
  transition: all 0.5s;
  color:#18A689;
  text-decoration: underline;

}
.inherit-family{
  font-family: "Open Sans", sans-serif !important ;
}
.linkx{
  border: none;
  cursor: pointer !important;
  text-decoration: none !important;
  color: GREY !important;
  font-size: 0.8rem;
  border-radius: 5px;
  padding: 0.5rem;
  box-shadow: 2px 2px 7px -5px black;
  border-radius: 10px !important;
}
.white{
  color: white !important;
}
.select-ui{
  border: solid 1px lightgrey !important;
  width: 175px;
}
.tag{
  background: #e5e5e5;
  border-radius: 2px;
  padding: 0.3rem 0.6rem;
  margin: 0.2rem;
  line-height: 2;
}
.tag2{
  border-radius: 2px;
  padding: 0.3rem 0.6rem;
  margin: 0.2rem;
}
.flx-wrp{
  flex-wrap: wrap;
}
.lh-2-5{
  line-height: 2.5;
  font-size: 2.5;
}


table {
  /* border: 1px solid #ccc; */
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  /* border: 1px solid #ddd; */
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
  font-size: .70em;
  color: #5b5b5b;
}

table th {
  font-size: .70em;
  letter-spacing: .1em;
  text-transform: uppercase;
  background-color: #18A689;
  border-right: solid 1px white;
  color: white;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}
tr:nth-child(even) {
  background-color: WHITE;
}














/* general styling */
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.bgcolor{
  background-color: #dad8d8;
}


.card-ui{
  box-shadow: 0px 0px 7px -3px black;
  padding: 0.8rem;
  margin: .5rem;
}
.pos-rel{
  position: relative !important;
}
.chitt{
  background: #18A689;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 0.6rem;
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
  position: absolute;
  left: -14px;
  width: 290px;
  top: 7px;
}
.box-1{
  border: solid 1px #18A689;
  margin-top: 3.5rem;
}
.border-green{
  border: solid 1px #18A689;
}
.header-1{
  background: #18A689;
  color: white;
  font-weight: 500;
  padding: 0.5rem 0.5rem;
}
.select-ui{
  border: solid 1px lightgrey !important;
  width: 170px;
  border-radius: 4px;
}
.select-box-ui{
  border: solid 1px lightgrey !important;
  width: 100%;
  border-radius: 4px;
  font-size: 13px;
}
.download-link{
  color: #0de7e7;
  font-size: 13px;
  text-align: end;
  margin-right: 0.7rem;
}
.border{
  border: solid 1px #e2e2e2;
  width: 50%;
  padding: 0.7rem 0.3rem;
}
.modal-header{
  background: #319DB5;
  color: white;
  font-weight: 600;
  padding: 1rem;
  font-size: 1.1rem;
}
.modal-header-dark{
  background: #1a247f;
  color: white;
  font-weight: 600;
  padding: 1rem;
  font-size: 1.1rem;
} 
.ReactModal__Content--after-open{
  padding: 0px 0px 20px 0px !important;
  border-radius: 12px !important;
  border: none !important;
  box-shadow: 0 27px 24px 0 rgba(0,0,0,.2), 0 40px 77px 0 rgba(0,0,0,.22) !important;
}
.modal-btn{
  background: #ebebeb;
  border-radius: 25px;
  box-shadow: 1px 2px 8px 0px #b8b5b5;
  margin: 1rem 0.2rem 0.2rem 0.2rem;
  line-height: 1.5;
  margin: 0.5rem;
  color: #858585;
  border:none;
  font-size: 13px;
}
.plus{
  background: #ebebeb;
  border-radius: 25px;
  box-shadow: 1px 2px 8px 0px #b8b5b5;
  line-height: 1;
  margin: 0rem 0.5rem 0.5rem 0.5rem;
  color: #858585;
  border: none;
  padding: 0rem 1rem 0rem 1rem;
  height: 30px;
}
.modal-btn:hover{
  background: lightgrey;
  color: grey;
  box-shadow: 1px 2px 8px 2px #b8b5b5;


}
.heading-15{
  font-size: 15px;
  font-weight: 600;
}
.content-box{
  display: flex;
  flex-wrap: wrap;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}
.cursor{
  cursor: pointer;
}

/* input feilds code  */
.label-ui{
  font-size: 0.8rem;
    font-weight: 600;
}
.form{
  width:100%;
  height:35px;
  position:relative;
  overflow:hidden;
  margin-bottom:10px;
  border: 1px solid #7f8c8d;
}
.form input{
  width:100%;
  height:100%;
  color:#000;
  padding-top:0px;
  border:none;
  outline:none;
}
.form label {
  position: absolute;
  width:100%;
  height:100%;
  bottom:0px;
  left:0%;
  pointer-events:none;
  /* border-bottom:1px solid black; */
}
.form label::after{
  content:"";
  position:absolute;
  width:100%;
  height:100%;
  border-bottom:4px solid #5fa8d3;
  bottom:-1px;
  left:0px;
  transform:translateX(-100%);
  transition:all 0.3s ease;
}
.content-name{
  position:absolute;
  bottom:5px;
  left:0px;
  transition:all .3s ease;
}
.form input:focus + .label-name .content-name ,
.form input:valid+ .label-name .content-name{
  transform:translateY(-150%);
  font-size:14px;
  color:#5fa8d3;
}
.form input:focus+ .label-name::after, 
.form input:valid+ .label-name::after {
  transform:translateX(0%);
   
}
.made{
  position:absolute;
   
  bottom:10%;
}
.made i{
  color:red;
}
/* input feilds code end */
@media only screen and (max-width: 1350px) {
.custom-modal-dynamic{
  width: 45% !important;
    left: 26% !important;
}
}
@media only screen and (max-width: 900px) {
  .custom-modal-dynamic{
    width: 70% !important;
      left: 17% !important;
  }
  }
  @media only screen and (max-width: 600px) {
    .custom-modal-dynamic{
      width: 90% !important;
        left: 5% !important;
    }
    }
@media only screen and (max-width: 1125px) {
  .responsive{
    margin-top:3.5rem !important;
  }
  .custom-modal-1 {
    width: 70% !important;
    left: 20% !important;
  }
}
@media only screen and (max-width: 900px) {
  .custom-modal-1 {
    width: 65% !important;
    left: 16% !important;
  }
  .modal-header{
    font-size: 0.8rem !important;
  }
  .scroll{
    overflow-y: scroll;
    height: 500px;
  }
}
.wrap{
  flex-wrap: wrap;
}
.custom-modal{
  top: 7%;
  bottom: "auto";
  margin-right: "-50%";
  background-color: white;
  width: 90%;
  left: 5%;
  position: absolute;
  border-radius: 10px !important;
}
.custom-modal-dynamic{
  top: 7%;
  bottom: "auto";
  margin-right: "-50%";
  background-color: white;
  width: 30%;
  left: 35%;
  position: absolute;
  border-radius: 10px !important;
}
.custom-modal-1{
  top: 7%;
  bottom: "auto";
  margin-right: "-50%";
  background-color: white;
  width: 40%;
  left: 30%;
  position: absolute;
  border-radius: 10px !important;
}
.custom-modal-dark{
  top: 7%;
  bottom: "auto";
  margin-right: "-50%";
  background-color: white;
  width: 70%;
  left: 15%;
  position: absolute;
  border-radius: 10px !important;
}
.card-2{
  background-color: #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.card-header-2{
  display: flex;
  align-items: center;
  gap: 10px;
}
.card-header-border{
  border: none !important;
}
.select-width{
  width: 100%;
  height: 33px;
  border: none;
}
.custom-th{
  background: #f5f5f5;
  color: #5b5b5b;
  border-bottom: 2px solid #ddd;
  border-right: 1px solid #ddd;
  text-align: left;
}
.p-l-0{
  padding: 0px !important;
}
.desc{
  font-size: 14px !important;
  font-weight: 700 !important;
  margin-top: 0.9rem;
  color: #5b5b5b;
}
.card-bg{
  background: #f5f5f5;
}
.margin-l{
  padding-left: 0px !important;
}
.form , .form-input{
  background: #f5f5f5;
}
.w-70{
  width: 70% !important;
}
.m-b-0{
  margin-bottom: 5px !important;
}
.black{
  color: rgba(0,0,0,.84);
  font-size: 14px;
}
.tab-x-btn{
  color: #f44336;
  font-size: 19px;
}
.tab-x-btn:hover{
  color: #0097a7;
  transition: all 0.5s;
}
.tab-icon-size{
  font-size: 16px;
  font-weight: 600;
}
.paginations{
  color: #5b5b5b;
font-weight: 700;
font-size: 14px;
}
.w-60px{
  width: 60px !important;
}
/* pagination */
.pagination {
  display: inline-block;
  border: 1px solid #e2e2e2;
  background-color: #efefef;
  border-radius: 5px;

}

.pagination a {
  color: #a2a2a2;
  float: left;
  padding: 6px 12px;
  font-size: 12px;
  text-decoration: none;
  /* border: 1px solid #ddd; */
  background-color: #efefef;
}

.pagination a.active {
  background-color: #4a89dc;
  color: white;
  border: 1px solid #4a89dc;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* paginatio end */
.bg-color{
  background-color: #E5E5E5;
}
.border-none{
  border-bottom: none !important;
}



/* new Secvices section */


.card-lab{
  margin: 1.5rem;
  box-shadow: 0px 0px 5px 0px lightgrey;
}
/* section lab 1 */
.lab-section-1{
  background-color: #337B6C;
  padding: 1rem;
  color: white;
}
.profile-lab{
  border: 2px solid #DDDEDF;
  width: 50px;
  border-radius: 50px;
  margin-right: 0.5rem;
}
.flex-column-lab{
  display: flex;
  flex-direction: column;
}
.input-lab{
  width: 80%;
  background: none;
  border: none;
  text-decoration: underline 1px white;
  color: darkgrey;
}
.lightgreen-box{
  background-color: #45ac97;
}
.dark-green{
background-color: #277d6c;
color: white;
text-align: center;
padding: 0.5rem;
}
.circle-lab{
  background: white;
  color: green;
  border-radius: 50px;
  padding: 1px 8px 1px 8px;
  font-weight: 600;
}
.white-box{
  border-radius: 10px;
  padding: 0.6rem;
  background: white;
  font-size: 12px;
}
.color-green-lab{
  background-color: #45ac97;
  height: 60vh;
  padding-top: 1rem;
  padding-left: 10px;
  padding-right: 10px;
}
.hrr{
  margin: 0.5rem 0 !important;
  color: inherit !important;
  background-color: currentColor !important;
  border: 0 !important;
  opacity: .25 !important;
}
.btn-green-lab{
  background-color: #45ac97;
  border-radius: 5px;
  border: none;
  padding: 0.3rem;

}
.btn-blue-lab{
  background-color: #4B77B5;
  border-radius: 5px;
  border: none;
  padding: 0.3rem;

}


/* section lab 1 end*/


/* row col-7 work */
.flex-lab{
  display: flex;
  justify-content: space-around;
}
.bold-lab{
  font-size: 13px;
  color: #5b5b5b;
}
.nav-tab-lab{
  
  background: #277d6c;
  width: 30%;
  text-align: center;
  padding: 0.2rem;

}
.tabss{
  background-color: #337B6C;
  display: flex;
  justify-content: space-around;
}
.btn-lab{
  width: 32%;
  background: #337B6C;
  border-left: solid 1px #337B6C;
  border-right: solid 1px #337B6C;

}


/* row col-7 work end */


/* lab-3 */
.lab-3{
  background-color: #45ac97;
  height: 108vh;
}
.lab-3-white-box{
  margin: 10px;
}
/* lab-3 */


/* section tab 01 */
.lab-01-text{
  font-size: 1.7rem;
  font-weight: bold;
  border-left: solid 4px #337B6C;
  color: #337B6C;

}
.print-lab-btn{
  font-size: 0.9rem;
  border-radius: 5px;
  border: none;
  background-color: #45ac97;
}
.table-lab{
  background-color: #e5e5e5;
  border-bottom: 2px solid #ddd;
  padding: 0.8rem;
  color: rgb(129, 126, 126);
  font-weight: bold;
  font-size: 1rem;
}
/* section tab 01 end */

















/* 2nd page examination work */
.examination-ui{
  padding-left: 0px !important;
  margin-top: 1.5rem;
  border-top-right-radius: 50px;
  background-color: #45ac97 !important;
}
.examination-card{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #277d6c !important;
  padding: 0.5rem;
  margin: 1rem 1rem 1rem 0rem;

}
.bg-light-green{
  background-color: #45ac97 !important;
}
.chit-examin{
  background: #277d6c;
  width: 80%;
  padding: 0.5rem;
  text-align: center;
  border-top-left-radius: 50px;
  margin:0.5rem 0rem ;
  border-bottom-left-radius: 50px;
  color: white;
  font-size: 1.2rem;
}
.examin-white-box{
  border-radius: 10px;
  padding: 0.6rem;
  background: white;
  font-size: 12px;
  height: 50vh;
}
.light-green{
  background-color: #8DBB7C;
  color: white;
  text-align: center;
  padding: 0.5rem;
 }
.examin-lab-3{
  background-color: #E9F5DD;
  height: 108vh;
}
.green-box{
  background: #E9F5DD;
  padding: 0.8rem 0.8rem 0.8rem 0rem;
  border-radius: 10px;
  width: 32%;
}
.box-chit-1{
  background: #277d6c;
  width: 50%;
  padding: 0.3rem;
  text-align: center;
  border-bottom-right-radius: 50px;
  margin: 0.5rem 0rem;
  border-top-right-radius: 50px;
  color: white;
  font-size: 1rem;
}
.box-chit-2{
  background: #277d6c;
  width: 100%;
  padding: 0.3rem;
  text-align: center;
  border-bottom-right-radius: 50px;
  margin: 0.5rem 0rem;
  border-top-right-radius: 50px;
  color: white;
  font-size: 1rem;
}
.box-chit-3{
  background: #277d6c;
  width: 40%;
  padding: 0.3rem;
  text-align: center;
  border-bottom-right-radius: 50px;
  margin: 0.5rem 0rem;
  border-top-right-radius: 50px;
  color: white;
  font-size: 1rem;
}
.examin-input-ui{
  border-radius: 10px;
  width: 96%;
  height: 50px;
  border: none;
  margin-left: 0.8rem;
}
.light-green-text-boxes{
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
}
.total-green{
  background-color: #E9F5DD;
  border-radius: 5px;
  border: none;
  padding: 0.3rem;
  color: #277d6c;

}
.custom-bar{
  background: #F5F5F5;
  display: flex;
  justify-content: center;
  margin: 2rem;
  padding: 1rem;
}
.bold-txt{
  font-size: 1rem;
  font-weight: 600;
}
.input-date{
  border: none;
  background: #F5F5F5;
  border-bottom: solid 1px darkgrey;
  margin: 0rem 1rem;
}
.bar-btn{
  border: none;
  cursor: pointer !important;
  text-decoration: none !important;
  background-color: #e0e6eb;
  color: #616c76;
  font-size: 0.8rem;
  border-radius: 5px;
  padding: 0.5rem;
  box-shadow: 2px 2px 7px -5px black;
  border-radius: 10px !important;
  font-weight: 600;
}
.bar-btn:hover{
  box-shadow: 0 1px 6px 0 rgba(0,0,0,.12), 0 1px 6px 0 rgba(0,0,0,.12);
  transition: all 0.1s;
  background-color: #d0dae1;
  color: #616c76;
}
.select-bar-tab{
    width: 150px;
    height: 33px;
    border: none;
    background-color: white;
}
.d-flx-columnn{
  display: flex;
  flex-direction: column;
}





